<div class="app-wrapper">
  <div class="w-100 position-absolute top-0" *ngIf="modalVersion">
    <div class="alert alert-secondary m-2">
      <button type="button" class="btn-close position-absolute top-0 end-0 m-1" aria-label="Close" (click)="closeVersion()"></button>
      A new version of this app is available. <a href="" (click)="updateVersion()">Update now</a>
    </div>
  </div>
  <div class="w-100 position-absolute z-index-2 bottom-0" *ngIf="modalPwaPlatform === 'ANDROID' || modalPwaPlatform === 'IOS'">
    <div class="alert alert-secondary m-2">
      <button type="button" class="btn-close position-absolute top-0 end-0 m-1" aria-label="Close" (click)="closePwa()"></button>
      <!-- Android -->
      <div *ngIf="modalPwaPlatform === 'ANDROID'" (click)="addToHomeScreen()">
        Add this WEB app to home screen
      </div>
      <!-- iOS with Safari -->
      <div *ngIf="modalPwaPlatform === 'IOS'">
        To install this WEB app on your device, tap the "Menu" button
        <img src="https://res.cloudinary.com/rodrigokamada/image/upload/v1641089482/Blog/angular-pwa/safari_action_button_38x50.png" class="ios-menu m-0" />
        and then "Add to home screen" button
        <i class="bi bi-plus-square"></i>
      </div>
    </div>
  </div>
  <div class="search">
    <form #searchForm="ngForm" (submit)="onSearchCity()">
      <ng-select
        class="search-input"
        appendTo="body"
        placeholder="Search city"
        [items]="cities$ | async"
        bindLabel="nameWithCountry"
        name="searchCity"
        [(ngModel)]="selectedCity"
        [typeahead]="cityInput$"
        [minTermLength]="3"
      >
      </ng-select>
    </form>
    <img
      class="search-icon"
      src="assets/search.png"
      (click)="onSearchCity()"
    />
  </div>
  <div
    class="weather-container"
    *ngIf="weatherData$ | async as weather; else loading"
  >
    <div class="image-container">
      <img
        class="image"
        src="assets/very-hot.jpeg"
        *ngIf="weather.main.temp >= temperature.VeryHot"
      />
      <img
        class="image"
        src="assets/hot.jpeg"
        *ngIf="
          weather.main.temp < temperature.VeryHot &&
          weather.main.temp >= temperature.Hot
        "
      />
      <img
        class="image"
        src="assets/warm.jpeg"
        *ngIf="
          weather.main.temp < temperature.Hot &&
          weather.main.temp >= temperature.Warm
        "
      />
      <img
        class="image"
        src="assets/moderate.jpeg"
        *ngIf="
          weather.main.temp <= temperature.Warm &&
          weather.main.temp > temperature.Cool
        "
      />
      <img
        class="image"
        src="assets/cool.jpeg"
        *ngIf="
          weather.main.temp <= temperature.Cool &&
          weather.main.temp > temperature.Cold
        "
      />
      <img
        class="image"
        src="assets/cold.jpeg"
        *ngIf="
          weather.main.temp <= temperature.Cold &&
          weather.main.temp > temperature.VeryCold
        "
      />
      <img
        class="image"
        src="assets/very-cold.jpeg"
        *ngIf="weather.main.temp < temperature.VeryCold"
      />
      <div class="temperature">
        <span class="temperature-location">{{ currentCity | titlecase }}</span>
        <span class="temperature-data"
          >{{ weather.main.temp | number : "1.0-0" }}&deg;C</span
        >
        <span class="temperature-feels-like"
          >feels like
          {{ weather.main.feels_like | number : "1.0-0" }}&deg;C</span
        >
      </div>
      <div class="more-info">
        <p class="more-info-text">More Information</p>
        <div class="more-info-data">
          <div class="min-container">
            <img class="min-image" src="assets/min.png" />
            <span class="min-text"
              >{{ weather.main.temp_min | number : "1.0-0" }}&deg;C</span
            >
          </div>
          <div class="max-container">
            <img class="max-image" src="assets/max.png" />
            <span class="max-text"
              >{{ weather.main.temp_max | number : "1.0-0" }}&deg;C</span
            >
          </div>
          <div class="humidity-container">
            <img class="humidity-image" src="assets/humidity.png" />
            <span class="humidity-text"
              >{{ weather.main.humidity | number : "1.0-0" }}%</span
            >
          </div>
          <div class="wind-container">
            <img class="wind-image" src="assets/wind.png" />
            <span class="wind-text"
              >{{ weather.wind.speed | number : "1.0-0" }}&nbsp;km/h</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="loader">
    <ul class="loader-list">
      <li class="loader-element"></li>
      <li class="loader-element"></li>
      <li class="loader-element"></li>
      <li class="loader-element"></li>
      <li class="loader-element"></li>
    </ul>
  </div>
</ng-template>
