@import "normalize.css";

:root {
  --text-color-primary: #fff;
  --text-color-secondary: rgba(255, 255, 255, 0.691);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-color-secondary);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--text-color-primary);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--text-color-primary);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

html,
body {
  height: 100%;
}

p {
  margin: 0;
}
