@import "normalize.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

:root {
  --text-color-primary: #fff;
  --text-color-secondary: rgba(255, 255, 255, 0.691);
}

html,
body {
  height: 100%;
}

p {
  margin: 0;
}

ng-select.search-input .ng-select-container {
  min-width: 176px;
  padding: 14px;
  border-radius: 20px;
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--text-color-secondary);
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
}

ng-select.search-input .ng-select-container .ng-value-container .ng-placeholder {
  color: var(--text-color-secondary);
}
